<%include ./partials/header %>
<div class="login-page">
  <div class="container">
    <div class="row">
      <h1>Login Now!</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form action="/login" method="POST">
          <input type="text" name="username" placeholder="your name here" class="form-control">
          <input type="password" name="password" placeholder="your password here" class="form-control">

          <button class="btn btn-large btn-primary" type="submit">Login</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
<%include ./partials/footer %>
